<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.mijey.tizenconsumersaagentv2">

    <!--
https://forum.developer.samsung.com/t/sdk-initialization-failed-accessory-framework-not-installed/1771/10 -->
<!--    <queries>-->
<!--        <package android:name="com.samsung.accessory" />-->
<!--    </queries>-->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="com.samsung.wmanager.APP" />
    <uses-permission android:name="com.samsung.WATCH_APP_TYPE.Companion" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".ConsumerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AccessoryActivity"
            android:label="@string/title_activity_accessory" />
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message" />
        <activity
            android:name=".FileTransferActivity"
            android:label="@string/title_activity_file_transfer" />


        <!-- Receiver must be declared when using Accessory SDK -->
        <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver">
            <intent-filter>
                <action android:name="com.samsung.accessory.action.REGISTER_AGENT" />
            </intent-filter>
        </receiver>

        <!-- Declaration when using SAAgentV2. -->
        <service android:name="com.samsung.android.sdk.accessory.SAService" />

        <!-- Receiver must be declared when using SASocket -->
        <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.samsung.accessory.action.SERVICE_CONNECTION_REQUESTED" />
            </intent-filter>
        </receiver>

        <!-- Receiver must be declared when using SAMessage -->
        <receiver android:name="com.samsung.android.sdk.accessory.MessageReceiver">
            <intent-filter>
                <action android:name="com.samsung.accessory.action.MESSAGE_RECEIVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="dev.mijey.tizenconsumersaagentv2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

        <!-- Location of Accessory service profile should be declared like below. -->
        <meta-data
            android:name="AccessoryServicesLocation"
            android:value="/res/xml/accessoryservices.xml" />

    </application>

</manifest>